<div class="toolbar">
  <span>Simple CVaR API Client</span>
</div>


<div class="content">



  <div class="apiForm">
    <div class="noteDiv">
      <p>Note: this is a simple web client built as a companion to the credit at risk article to demonstrate the gcp service built as part of the article. It is not intended for production use</p>
    </div>
    <br/><br/>
    <div class="row1">
      <span>Confidence Interval : </span>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Confidence Level (i.e. cuttoff)</mat-label>
        <input matInput placeholder="Enter a value between 0 and 1"  #cutoffInput
        (keydown)="validate($event)" [value]="selectedConf" >
      </mat-form-field>

      <span>Excel File : </span>
      <button mat-mini-fab color="primary" class="attIconbtn"
        onclick="document.getElementById('myattachmentcontrol').click();return false;">
        <mat-icon>attach_file</mat-icon>
      </button>
      <span class="fileName">{{selectedFile_Name}}</span>
    </div>
    <div class="row2">
      <button mat-raised-button color="primary" [disabled]="isProg" (click)="submit(myfilecontrol,cutoffInput)">Submit</button>
    </div>

    <mat-spinner *ngIf="isProg" [diameter]="50"></mat-spinner>
    <div class="row3" *ngIf="isDone">
      The CVaR at {{(selectedConf*100).toFixed(3)}}% confidence level is <b>{{this.resultVal}}</b>
    </div>

    <div *ngIf="isError" class="error">
      {{errorMsg}}
    </div>
  
  </div>

  <input type="file" id="myattachmentcontrol" name="myfile" style="visibility: hidden;" #myfilecontrol 
    (change)="fileSelected(myfilecontrol.files)" accept=".xlsx">
</div>
